# IntelliJ user files
.idea/
*.iml
.vscode


# Build directory
out/

# Personal todo lists
TODO

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


# Eclipse files
.project
bin/
.settings/org.eclipse.buildship.core.prefs
app/.classpath
/app/bin/
